<section>
  <%= live_component @socket, RetroWeb.TopicForm, id: :topic_form, return_to: Routes.page_path(@socket, :index) %>
</section>

<section>
  <ul id="topic-list" class="topic-list">
    <%= for topic <- @topics do %>
      <li><%= live_component @socket, RetroWeb.TopicItem, id: "topic-item-#{topic.id}", topic: topic %></li>
    <% end %>
  </ul>
</section>
