<section>
  <%= live_component @socket, RetroWeb.TopicListForm, id: :topic_list_form %>
</section>

<section>
  <section class="topic-lists">
    <%= for topic_list <- @topic_lists do %>
      <section class="topic-lists__item"><%= live_component @socket, RetroWeb.TopicList, topic_list: topic_list %></section>
    <% end %>
  </section>
</section>
