version: 2.1
orbs:
  browser-tools: circleci/browser-tools@1.1.2
jobs:
  build:
    parallelism: 1
    docker:
      - image: cimg/elixir:1.11.3-browsers
        environment:
          MIX_ENV: test
          POSTGRES_DB: retro_test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
      - image: circleci/postgres:10.1-alpine
        environment:
          POSTGRES_DB: retro_test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres

    working_directory: ~/app

    steps:
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver

      - run:
          command: |
            google-chrome --version
            chromedriver --version
          name: Check install
      - checkout

      - run: mix local.hex --force
      - run: mix local.rebar --force

      - restore_cache:
          keys:
            - v1-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
            - v1-mix-cache-{{ .Branch }}
            - v1-mix-cache
      - restore_cache:
          keys:
            - v1-build-cache-{{ .Branch }}
            - v1-build-cache
      - run: mix deps.get
      - run: mix compile  --force --warnings-as-errors
      - save_cache:
          key: v1-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
          paths: "deps"
      - save_cache:
          key: v1-mix-cache-{{ .Branch }}
          paths: "deps"
      - save_cache:
          key: v1-mix-cache
          paths: "deps"
      - save_cache:
          key: v1-build-cache-{{ .Branch }}
          paths: "_build"
      - save_cache:
          key: v1-build-cache
          paths: "_build"

      - run: mix credo

      - run:
          name: Wait for DB
          command: dockerize -wait tcp://localhost:5432 -timeout 1m

      - run: mix ecto.create && mix ecto.migrate
      - run: npm install --prefix assets
      - run: mix test

      - store_test_results:
          path: _build/test/lib/retro_phoenix
