/* This file is for your main application css. */
@import "./phoenix.css";

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 1rem;
}

.fluid-container {
  margin: 0 auto;
  padding: 0 2.0rem;
  position: relative;
  width: 100%;
}

.topic-lists {

  &__item {
    background: #eee;
    border-radius: 6px;
    border-bottom: 1px solid #c7c7c7;
    margin-bottom: 2rem;
  }

  @media (min-width: 40.0rem) {
    display: flex;

    &__item {
      flex: 1 1 100%;
      margin-bottom: 0;
    }

    &__item:not(:first-child) { margin-left: 1rem; }
  }
}

.topic-list {
  display: flex;
  padding: 1rem;

  &__name {
    flex-grow: 2;
    font-weight: bold;
    margin-bottom: 0;
  }

  &__delete { padding-left: 2rem; }
}

.topic-item { list-style: none; }

.topic {
  display: flex;
  margin: 0 1rem;
  padding: 1rem;
  background: white;
  border-radius: 6px;
  border-bottom: 1px solid #e3e3e3;

  &__description { flex-grow: 2; }
  &__delete {
    padding-left: 2rem;
    white-space: nowrap;
  }
}

.topic-list-form {
  display: flex;
  align-items: baseline;
  max-width: 80rem;
  margin: 1rem;

  &__label { white-space: nowrap; }

  &__field {
    flex-grow: 2;
    padding-left: 2rem;
  }

  &__button {
    padding-left: 2rem;
    margin-bottom: 0.5rem;
  }
}

.topic-form {
  padding: 0 1rem;

  &__field {
    background: white;
    margin-bottom: 0.5rem;
  }
}

.retros__list {
  // background: #eee;
  // border-radius: 6px;
  // border-bottom: 1px solid #c7c7c7;
  // margin-bottom: 2rem;
}

.retros__item {
  list-style: none;
  padding: 1rem;
  margin: 1rem;
  background: #eee;
  border-radius: 6px;
  border-bottom: 1px solid #e3e3e3;
}
